{% extends 'layout.html' %}

{% block content %}

  <section class="codeofconduct">
    <h2>STEC CODE OF CONDUCT</h2>

    <p>By registering to be a member of STEC you agree to abide by the following STEC Code of Conduct, which we created to ensure the best community experience for you and all other
        STEC member. Members found to be acting in violation of the terms set forth may be asked to back out of their membership without a refund. By using STEC, you also agree to our
        the Community Code of Conduct, kindly conduct yourself responsibly. <br>
        You agree that you:
    </<p>

    <ul>
      <li>will not harass other Members or STEC Team;</li>
      <li>will not post inappropriate content;</li>
    </ul>

    <p>Failure to adhere to this Code of Conduct impacts the integrity of our community and give decrease our value to existing
      and new members. If we determine that you have violated this Code of Conduct, we reserve the right to take any action we deem appropriate, including, but not limited to,
       deleting your account with no refund on your membership fees.
    </p>
  </section>

{% endblock %}
