{% extends "base.html" %}

{% block navbar %}

<!-- Intro section -->
<div class="wrap">

  <div class="col left">
    <h1>Student Technology Enthusiast Community</h1>

    <h3>Together in our passion for technology</h3>

    <h4>Ready to connect? Sign up for  &euro; 3/mon or &euro; 30/per membership fee</h4>

    <button type="button" name="button"><a href="{{ url_for('register') }}">Become a member</a></button>

  </div>

  <div class="col right">
      <img class="people" src="/static/images/people.png" alt="People together illustration">
  </div>

</div>

{% endblock %}

{% block content %}

<!-- Remember to remove  -->

<section class="container community">

  <h1>Hi, {{ current_user.Username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.Username }} says: <b>{{ post.Body }}</b></p></div>
    {% endfor %}


</section>

<!-- About section starts here -->
<section id="about" class="container about green">

  <h2>About Us</h2>

  <hr>

  <p>STEC Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
     et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
     ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
     fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
     mollit anim id est laborum.</p>

</section>

<!-- Intro section starts here -->
<section id="community" class="container community">

  <h2>Join the Community</h2>

  <hr>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus purus metus, quis euismod magna eleifend non.</p>

  <div class="wrap">
    <div class="column">
      <div class="card">
        <i class="fas fa-network-wired"></i>
        <h3>Network</h3>
        <p>Some text</p>
        <p>Some text</p>
        <h3>You're connected.</h3>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fab fa-leanpub"></i>
        <h3>Learn</h3>
        <p>Some text</p>
        <p>Some text</p>
        <h3>You're connected.</h3>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fas fa-comments"></i>
        <h3>Collaborate</h3>
        <p>Some text</p>
        <p>Some text</p>
        <h3>You're connected.</h3>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fas fa-drafting-compass"></i>
        <h3>Build</h3>
        <p>Some text</p>
        <p>Some text</p>
        <h3>You're connected.</h3>
      </div>
    </div>
  </div>

</section>

<!-- Membership section starts here -->
<section id="membership" class="container membership">

  <h2>Membership</h2>

  <hr>

  <div class="wrap">
    <div class="column">
      <div class="card trial">
        <h3>Try STEC for 7 days, no membership fee required</h3>
        <button type="button" name="button">Sign up</button>
      </div>
    </div>

    <div class="content">
      <h4>Mauris egestas lectus eu sapien bibendum vestibulum. Morbi vel nisi augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit suscipit cursus. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>

</section>

<!-- Enquiry section starts here -->
<section id="enquiry" class="container enquiry">

  <h2>Have an Enquiry</h2>

  <hr>

  <form class="" action="" method="post">

    <label for="name">Name: </label> <br>
    <input type="text" name="name" value=""> <br>

    <label for="email">Email: </label> <br>
    <input type="email" name="email" value=""> <br>

    <label for="message">Enquiry: </label> <br>
    <textarea name="name" rows="8" cols="50"></textarea> <br>

    <input type="submit" value="Submit">

  </form>

</section>

{% endblock %}
