<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A community of individuals enthusiastic about technology">
  <meta name="author" content="Aminat Ajagbe, A3AJAGBE">
  <meta name="keywords" content="technology enthusiast, community, technology">
  <meta property="og:title" content="STEC">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/images/stec.png">
  <meta property="og:description" content="A community of individuals enthusiastic about technology; this is a platform to learn, network, collaborate and build with like-minded people passionate about technology with diverse backgrounds. " />
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/users.css">
  <link rel="shortcut icon" href="/static/images/stec.ico">
  <script src="https://kit.fontawesome.com/65a82e1708.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
  {% if title %}
  <title>{{ title }} - STEC</title>
  {% else %}
  <title>STEC - Simul Technology Enthusiast Community</title>
  {% endif %}

</head>

<body>

  <!-- header section -->
  <header>
    <a href=" {{ url_for('index') }}">
      <img class="logo" src="/static/images/stec.png" alt="STEC Logo">
    </a>

    <!-- Mobile Menu -->
    <div class="icon bars">
      <i class="fas fa-bars"></i>
    </div>

    <div class="icon compress">
      <i class="fas fa-compress-alt"></i>
    </div>

    <div class="icon expand">
      <i class="fas fa-expand-alt"></i>
    </div>

  </header>

  <!-- main section -->
  <main class="container">

    <!-- aside section -->
    <aside>

      <ul>
        <li><a class="links active" href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a class="links" href="{{ url_for('profile', Username=current_user.Username) }}"><i class="fas fa-user-alt"></i> Profile</a></li>
        <li><a class="links" href="{{ url_for('members_post') }}"> Members post</a></li>
         {% if current_user.is_anonymous %}
        <li><a class="links" href="{{ url_for('login') }}">Log in</a></li>
        {% else %}
        <li><a class="links" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
        {% endif %}
      </ul>
    </aside>

    <!-- dashboard section -->
    <section class="dashboard">

      {% with messages = get_flashed_messages() %}

          {% for message in messages %}
          <div class="message">
            <div class="icon close">
              <i class="fas fa-times"></i>
            </div>
          <h3><strong>[STEC Alert]=></strong> {{ message }} </h3>
          </div>
          {% endfor %}

      {% endwith %}

      <h1>Hi, {{ current_user.Username.upper() }}!</h1>

      <hr>

      {% block content %}{% endblock %}

    </section>

  </main>

  <!-- Script for jQuery and JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="/static/scripts/dashboard.js" charset="utf-8"></script>


</body>

</html>
