{% extends 'form.html' %}

{% block content %}

<form class="stecform" action="" method="POST" novalidate>

  <h2>Sign in</h2>
  <hr>

  <div class="stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-user"></i>
    {{ form.username.label }}
    {{ form.username }}
    {% for error in form.username.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-lock"></i>
    {{ form.password.label }}
    {{ form.password }}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.remember_me() }} {{ form.remember_me.label }}

    {{ form.submit() }}

    <h4>
        Forgot Your Password?
        <a href="{{ url_for('password_reset_request') }}">Reset</a>
    </h4>

    <h4>If you are not registered, <a href="{{ url_for('register') }}">Become a member</a></h4>

  </div>

</form>

{% endblock %}
