{% extends 'form.html' %}

{% block content %}

<h2>Sign in</h2>

<form class="stecform" action="" method="POST" novalidate>

  <div class="container-dash stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-user"></i>
    {{ form.username.label }}
    {{ form.username(size=15) }}
    {% for error in form.username.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-lock"></i>
    {{ form.password.label }}
    {{ form.password(size=15) }}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.remember_me() }} {{ form.remember_me.label }}

    {{ form.submit() }}

    <h4>If you are not a registered member, <a href="{{ url_for('register') }}">Become a member</a></h4>

  </div>

</form>

{% endblock %}
