{% extends 'form.html' %}

{% block content %}

<form class="stecform" action="" method="POST" novalidate>

  <h2>Password Reset Request</h2>
  <hr>

  <div class="stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-envelope"></i>
    {{ form.email.label }}
    {{ form.email}}
    {% for error in form.email.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}


    <h4>If you are a registered member, <a href="{{ url_for('login') }}">Login</a></h4>

  </div>

</form>

{% endblock %}
