{% extends 'form.html' %}

{% block content %}

<form class="stecform" action="" method="POST" novalidate>

  <h2>Reset Your Password</h2>
  <hr>

  <div class="stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-lock"></i>
    {{ form.password.label }}
    {{ form.password }}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-lock"></i>
    {{ form.password2.label }}<br>
    {{ form.password2 }}<br>
    {% for error in form.password2.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}

  </div>

</form>

{% endblock %}
