{% extends 'layout.html' %}

{% block content %}

<section>

  <div class="posticon">
  {% if user == current_user %}

    <a href="{{ url_for('edit_profile') }}"><i class="fas fa-edit edit"> Edit profile</i></a>
    <a href="{{ url_for('yourposts', Username=current_user.Username) }}"><i class="fas fa-pen write"> Posts</i></a>

  {% endif %}
  </div>


  <div class="bio">
    <h1>NAME: {{ user.Name }} (username: {{ user.Username }})</h1>
    <h2>BIO: {% if user.Bio %} {{ user.Bio}} {% else %} Information not available {% endif %} </h2>
    <h2>Email: {{ user.Email}} </h2>
    <h3>Been a member since: {{ moment(user.RegisteredDate).format('LL') }}</h3>

    {% if user == current_user %}
    <p>Last seen: {% if user.LastSeen %} {{ moment(user.LastSeen).format('LLLL') }} {% endif %} </p>
    {% endif %}

    {% if user != current_user %}
    <p><button>
    <a id="links" href="{{ url_for('private_message', receiver=user.Username) }}"><i class="fas fa-paper-plane"></i> Send Private Message</a>
    </button></p>
    {% endif %}


  </div>

</section>


{% endblock %}
