{% extends 'layout.html' %}

{% block content %}

<section>
  
  <div class="posticon">
  {% if user == current_user %}

    <a href="{{ url_for('edit_profile') }}"><i class="fas fa-edit edit"> Edit profile</i></a>
    <a href="{{ url_for('yourposts', Username=current_user.Username) }}"><i class="fas fa-pen write"> Posts</i></a>

  {% endif %}
  </div>


  <div class="profilecard">
    <img src="{{ user.avatar(128) }}" alt="user avatar">
    <h1>{{ user.Name }}</h1>
    <p class="username">Username: {{ user.Username }}</p>
    {% if user.Bio %}<p>{{ user.Bio}}</p>{% endif %}
    {% if user.last_seen %}
    <p>Last seen: {{ moment(user.last_seen).format('LLLL') }}</p>
    {% endif %}
    <p><button>Message</button></p>
  </div>


</section>


{% endblock %}
