{% extends 'form.html' %}

{% block content %}

<form class="stecform" action="" method="POST" novalidate>

  <h2>Register</h2>
  <hr>

  <div class="stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-user"></i>
    {{ form.name.label }}
    {{ form.name }}
    {% for error in form.name.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-user-tag"></i>
    {{ form.username.label }}
    {{ form.username }}
    {% for error in form.username.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-envelope"></i>
    {{ form.email.label }}<br>
    {{ form.email }}<br>
    {% for error in form.email.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-calendar-day"></i>
    {{ form.dateofbirth.label }}
    {{ form.dateofbirth }}
    {% for error in form.dateofbirth.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-smile"></i>
    {{ form.gender.label }}
    {{ form.gender }}
    {% for error in form.gender.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-lock"></i>
    {{ form.password.label }}
    {{ form.password }}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    <i class="fas fa-lock"></i>
    {{ form.password2.label }}<br>
    {{ form.password2 }}<br>
    {% for error in form.password2.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}

    <h4>If you are a registered member, <a href="{{ url_for('login') }}">Login</a></h4>

  </div>

</form>

{% endblock %}
