{% extends 'layout.html' %}

{% block content %}

<div class="posticon">
  <i class="fas fa-pen write"> Write</i>
</div>

<form class="stecform writepost" action="" method="POST" novalidate>

  <h2>Write a Post</h2>

  <div class="stecformfield">

    {{ form.hidden_tag() }}

    <i class="fas fa-user-tag"></i>
    {{ form.body.label }}
    {{ form.body }}
    {% for error in form.body.errors %}
    <span>{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}

  </div>

</form>

<h1 align="center">Your Posts</h1>

{% for post in posts %}
  <section class="articles">
    <article class="yourpost">
        <h2>{{ post.Body }}</h2>
        <p> Posted: {{ moment(post.Timestamp).fromNow() }}</p>
        <h3>By: This is your post</h3>
    </article>
    <div class="posticon">
    {% if user == current_user %}

      <a href="{{ url_for('edit_post', UserPostID=post.UserPostID) }}"><i class="fas fa-edit edit"> Edit</i></a>
      <a href="{{ url_for('delete_post', UserPostID=post.UserPostID) }}"><i class="fas fa-trash-alt delete"> Delete</i></a>

    {% endif %}
    </div>
  </section>
{% endfor %}

<div class="sectMargin">
  {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
  {% endif %}
  {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
  {% endif %}
</div>

{% endblock %}
